pyinstaller
flask
flask-cors
spotipy
google-api-python-client
ytmusicapi
requests
beautifulsoup4
pillow
deep-translator
wikipedia
selenium
webdriver-manager
yt-dlp
librelyrics
argostranslate
playwright
